/*!
 * Notify.js
 * Notify.js is a sleek and powerful toast generator built on CSS3 for a smooth,
 * dependency free customizable experience.
 *
 * @version 1.0.0
 * @author Eliott Robson, https://eliottrobson.me
 * @link https://github.com/eliottrobson/notify.js
 */

$notify-default: #323232 !default;
$nofify-close: #ffeb3b !default;
$notify-info: #00bcd4 !default;
$notify-success: #4caf50 !default;
$notify-warning: #ff9800 !default;
$notify-error: #f44336 !default;
$notify-speed: .3s !default;
$notify-easing: ease-in-out !default;
$notify-area-top: 3rem !default;
$notify-area-right: 3rem !default;
$notify-notification-width: 16rem !default;
$notify-notification-height: 4rem !default;
$notify-notification-radius: .2rem !default;
$notify-breakpoint: 960px !default;

// Enter animation
@keyframes notify-enter-mobile {
	0% {
		transform: translateY($notify-notification-height);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes notify-enter-desktop {
	0% {
		transform: translateX(calc(#{$notify-area-right} + #{$notify-notification-width}));
	}

	100% {
		transform: translateX(0);
	}
}

// Push down animation
@keyframes notify-enter-push-mobile {
	0% {
		transform: translateY($notify-notification-height);
	}

	100% {
		transform: translateY($notify-notification-height);
	}
}

@keyframes notify-enter-push-desktop {
	0% {
		margin-bottom: -$notify-notification-height;
	}

	100% {
		margin-bottom: 1rem;
	}
}

// Exit animation
@keyframes notify-exit-mobile {
	0% {
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY($notify-notification-width);
	}
}

@keyframes notify-exit-desktop {
	0% {
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(calc(#{$notify-area-right} + #{$notify-notification-width}));
	}
}

// Functions
@function notify-text-color($color) {
	@if (lightness($color) > 50) {
		@return #000;
	} @else {
		@return #fff;
	}
}

@media (max-width: $notify-breakpoint - 1px) {
	#notify-container {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99999;
		display: flex;
		flex-direction: column-reverse;

		.notify-notification {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: $notify-notification-height;
			padding: 1rem;
			line-height: $notify-notification-height - 2rem;
			color: notify-text-color($notify-default);
			background-color: $notify-default;
			animation: notify-enter-mobile $notify-speed $notify-easing forwards;

			// Last notification shouldn't exit
			&:not(:last-child) {
				animation: notify-exit-mobile $notify-speed $notify-easing forwards !important;
			}

			// When we add a new notification, animate existing down
			& + .notify-notification {
				animation: notify-enter-push-mobile $notify-speed $notify-easing 0s forwards, notify-enter-mobile $notify-speed $notify-easing $notify-speed forwards;
			}

			// Animate exit
			&.notify-exit {
				animation: notify-exit-mobile $notify-speed $notify-easing forwards;
			}
		}

		.notify-close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			color: $nofify-close;
			cursor: pointer;

			&::before {
				content: "DISMISS";
			}
		}
	}
}

@media (min-width: $notify-breakpoint) {
	#notify-container {
		position: fixed;
		top: $notify-area-top;
		right: $notify-area-right;
		z-index: 99999;
		display: flex;
		flex-direction: column-reverse;

		.notify-notification {
			position: relative;
			width: $notify-notification-width;
			height: $notify-notification-height;
			padding: 1rem;
			margin-bottom: 1rem;
			line-height: $notify-notification-height - 2rem;
			border-radius: $notify-notification-radius;
			opacity: .9;
			box-shadow: 0 2px 2px rgba(0, 0, 0, .03), 0 1px 0 rgba(0, 0, 0, .03);
			animation: notify-enter-desktop $notify-speed $notify-easing forwards;

			// Last notification shouldn't have margin bottom
			&:first-child {
				margin-bottom: 0;
			}

			// When we add a new notification, animate existing down
			& + .notify-notification {
				transform: translateX(20rem);
				animation: notify-enter-push-desktop $notify-speed $notify-easing 0s forwards, notify-enter-desktop $notify-speed $notify-easing $notify-speed forwards;
			}

			// Animate exit
			&.notify-exit {
				animation: notify-exit-desktop $notify-speed $notify-easing forwards;
			}
		}

		.notify-info {
			color: notify-text-color($notify-info);
			background-color: $notify-info;
		}

		.notify-success {
			color: notify-text-color($notify-success);
			background-color: $notify-success;
		}

		.notify-warning {
			color: notify-text-color($notify-warning);
			background-color: $notify-warning;
		}

		.notify-error {
			color: notify-text-color($notify-error);
			background-color: $notify-error;
		}

		.notify-close {
			position: absolute;
			top: .5rem;
			right: .5rem;
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
			background-color: rgba(#000, .2);
			border-radius: .75rem;
			transform: rotate(45deg);

			&::before {
				width: 50%;
				height: 2px;
			}

			&::after {
				width: 2px;
				height: 50%;
			}

			&::before, &::after {
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				background-color: #fff;
				content: "";
				transform: translateX(-50%) translateY(-50%);
			}

			&:hover {
				background-color: rgba(#000, .3);
			}
		}
	}
}
